.firstBg {
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("assets/firstBg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
}

.Typewriter {
  display: inline;
}

.secondBG {
  background: url("assets/secondBG.png"), black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 110vh;
  background-attachment: fixed;
}

.thirdBG {
  background: url("assets/thirdBG.png"), black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 110vh;
  background-attachment: fixed;
}

.fourthBG {
  background: url("assets/fourthBG.png"), black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;
}

.fifthBg {
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("assets/fifthBg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 130vh;
  background-attachment: fixed;
}
